/* App.css */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

.mask-gradient {
    -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

.item {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #263a99;
    padding: 7px 15px;
    border-radius: 7px;
    box-shadow: rgba(150, 150, 243, 0.192) 0px 0px 15px;
}

.animate-scroll {
    animation: scroll 25s linear infinite;
}

.animate-scroll2 {
    animation: scroll2 25s linear infinite;
}
